@import '../../css/variables.scss';

.weather_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 305px;

    &_temp {
        font-size: 72px;
        font-weight: 500;
    }

    &_desc {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &_date {
        width: 170px;
        display: flex;
        flex-direction: column;
        background: $base-dark;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 7px 5px;

        &_now {
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            color: $base-colored;
            margin-bottom: 5px;
        }

        &_sun {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
    
            &_type {
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 12px;
                color: $base-colored;

                &:nth-child(1) {
                    margin-right: 12px;
                }
    
                &_icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                }
            }
        }
    }

    &_icon {
        display: block;
        width: 86px;
        height: 86px;
        margin: 19px 0 5px 0;
    }

    &_indicators {
        width: 220px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        &_type {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 10px;

            &_icon {
                width: 16px;
                height: 16px;
                margin-right: 6px;
            }
        }
    }
}